div{
  width: 100px;
  /*设置宽100像素*/
  height: 100px;
  /*设置高100像素*/
  background-color: #fff;
  /*设置背景色*/
  color: #fff;
  /*设置字体颜色*/
  text-align: center;
  /*设置文本居中 left居左  right 居右*/
  text-decoration: none;
  /*none设置下划线消失 underline为下划线  overline为上划线 line-through 中划线*/
   padding-left: 10px;
   /*设置元素内边距 left是左边距*/
   padding-right:10px;
   /*设置元素内边距 right是右边距*/
   padding-top: 10px;
   /*设置元素内边距 top是上边距*/
   padding-bottom: 10px;
   /*设置元素内边距 bottom下是边距*/
   margin-left: 10px;
   /*margin同padding属性相似 不同的是设置元素外边距*/
   /*同样是有上右下左四个属性值*/
  border-top: 1px solid #ccc;
  /*给元素设置 1像素 直线 颜色为灰色的上边框 同样可以设置上右下左四种属性*/
  /*如果写成border: 1px solid #ccc; 是设置四边边框*/
  border-radius: 5px;
  /*给元素设置圆角 弧度为5像素*/
}
